.review_comments {
    height: 580px;
    width: 100%;
    padding-top: 1%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.review_comments_responsive {
    display: none;
    background-color: var(--background-color);
}

@media (max-width: 850px) {

    .review_comments {
        display: none;
    }

    .review_comments_responsive {
        display: block;
        height: 400px;
        overflow: scroll;
        z-index: 0;
    }

}

@media (max-width: 500px) {

    .review_comments {
        display: none;
    }

    .review_comments_responsive {
        display: block;
        height: 400px;
        width: 99%;
        z-index: 0;
        /* border: 1px solid var(--border-color); */
    }

}