.forbooking {
    height: 350px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "WinkySans";
    /* border: 2px solid red; */
}

.forbooking_note {
    height: 350px;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    /* border: 2px solid red; */
}

.forbooking_note_heading {
    font-family: "Kaushan";
}

.payment_booking_heading {
    font-family: "Kaushan";
}

/* responsive_tab */

@media (max-width: 850px) {

    .forbooking {
        height: 300px;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 2px solid red; */
    }

    .forbooking_note {
        height: 300px;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        /* border: 2px solid red; */
    }

}

/* responsive_mobile */

@media (max-width: 500px) {

    .forbooking {
        height: 260px;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 2px solid red; */
    }

    .forbooking_note {
        height: 260px;
        width: 100%;
        padding: 10px;
        font-size: 10px;
        /* border: 2px solid red; */
    }

}