.transition_hide_payment_online {
    opacity: 0;
    transform: translate(-700px);
    transition: 0.9s;
}

.transition_show_payment_online {
    opacity: 1;
    transform: translate(0);
}

.transition_hide_qrcode {
    opacity: 0;
    transform: translateX(600px);
    transition: 0.9s;
}

.transition_show_qrcode {
    opacity: 1;
    transform: translate(0);
}

.payment {
    height: 450px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
}

.payment_number_title {
    font-family: "Kaushan";
}

.payment_online {
    height: 400px;
    width: 60%;
    padding: 10px;
    color: var(--font-color);
    font-family: "WinkySans";
    /* border: 2px solid red; */
}

.payment_note_title {
    font-family: "Kaushan";
}

.Qrcodenote {
    font-family: "Kaushan";
}

.Qrcode {
    height: 350px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: contain;
    object-position: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.QrcodeTitle {
    height: 40px;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Kaushan";
    /* border: 2px solid red; */
}

.Qrcodenote {
    font-size: 25px;
}

.payment_number {
    font-size: 20px;
}

.payment_note {
    font-size: 20px;
}

@media (max-width: 850px) {

    .payment {
        height: 350px;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 2px solid red; */
    }

    .payment_online {
        height: 350px;
        width: 50%;
        padding: 10px;
        color: var(--font-color);
        /* border: 2px solid red; */
    }

    .Qrcode {
        height: 350px;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: contain;
        object-position: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .QrcodeTitle {
        height: 50px;
        width: 100%;
        font-size: 20px;
        /* border: 2px solid red; */
    }

    .Qrcodenote {
        font-size: 14px;
    }

    .payment_number {
        font-size: 11px;
    }

    .payment_note {
        font-size: 11px;
    }

}

/* responsive_mobile */

@media (max-width: 500px) {

    .payment {
        height: 600px;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .payment_online {
        height: 250px;
        width: 100%;
        padding: 10px;
        color: var(--font-color);
        /* border: 2px solid red; */
    }

    .Qrcode {
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: contain;
        object-position: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .QrcodeTitle {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 2px solid red; */
    }

    .Qrcodenote {
        font-size: 14px;
    }

    .payment_number_title {
        font-size: 20px;
    }

    .payment_number {
        font-size: 10px;
    }

    .payment_note_title {
        font-size: 20px;
    }

    .payment_note {
        font-size: 10px;
    }

}