@font-face {
    font-family: "WinkySans";
    src: url(./src/external_folder/googlefont/Winky_Sans/static/WinkySans-MediumItalic.ttf);
}

@font-face {
    font-family: "Kaushan";
    src: url(./src/external_folder/googlefont/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: rgb(0, 0, 0);
    --hover-color: rgb(252, 163, 17);
    --font-color: rgb(20, 33, 61);
    --background-color: rgb(229, 229, 229);
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.transition_hide {
    opacity: 0;
    transform: translate(-50px);
    transition: 0.9s;
}

.transition_show {
    opacity: 1;
    transform: translate(0);
}